@font-face {
  font-family: 'futura';
  src: url(../font/Futura.ttc);
}
 html {
  margin: 0%;
  padding: 0%;
  min-width: 1440px;
  }

  
  /* Styles généraux */
  body {
    font-family: 'futura'; 
    margin: 0;
    min-width: 100%;
    z-index: 2;
    background: linear-gradient(180deg, #7CBCFF 0%, #FFF 15.84%, #FFF 27.46%, #7CC9FF 44.26%, #FFF 93.16%);

  }
.main-container {
  margin: 0 122px 0 119px;
}
 h1 {
 
  display: flex;
  width: 690px;
  flex-direction: column;
  justify-content: center;
  color: #D68F07;
  font-size: 50px;
  font-family: 'Futura';
  font-weight: 700;
 }
 h2 {
  
  width: 467px;
  height: 48px;
  left: 122px;
  top: 1306px;

  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;


  color: #000000;

  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
 }

 h4 {
  height: 48px;
  left: 122px;
  top: 1306px;

  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;


  color: #000000;

  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
 }
 a {
  text-decoration: none;
 }

  main {
    /* padding: 0 67px 0 67px; */
  }
  .header {
    min-width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 9999;
    transition: top 0.2s ease;
  }
  
  .logo {
    width: 100px;
    height: 125px;
    margin: 125px;
    cursor: pointer;
    
  }
  
  .description {
    /* margin: 0 122px 0 119px; */

   
   
    

  }
 .textdescription {
  width: 75%;
 }
  .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 72px 0 0;
    width: 90%;
  }
  
  .menu li {
    margin-left: 10px;
    margin-right: 40px;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
  }
  .lienancre {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    scroll-behavior: 0.4s ease;
  }
  .lienancre:hover {
    border-bottom: 1px solid;
  }
  .contactez {
    background-color: white;
    border: 2px solid orange;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

  }
  .contactez:hover {
    color: #D68F07;
    border: 2.3px solid #D68F07;
  }
  #firstlottie {
    position: absolute;
    height: 328px;
    left: 832px;
    top: 280px;
    width: 506.152px;

background: url(.png);
  }
  .assu1 {
    width: 101px;
    height: 81px;
    flex-shrink: 0;
  }
  .assu2 {
    width: 101.029px;
    height: 81px;
    flex-shrink: 0;
    
  }
  .assu3 {
    width: 101.029px;
    height: 76.76px;
    flex-shrink: 0;
  }
  .assu4 {
    width: 152.043px;
    height: 93px;
    flex-shrink: 0;
  }
  .assu5 {
    width: 148px;
    height: 39px;
    flex-shrink: 0;
    padding-top: 30px;
  }

  .cercle {
    width: 200px; /* Ajustez la taille du conteneur selon vos besoins */
    height: 200px;
    overflow: hidden; /* Masque le contenu qui dépasse du cercle */
    background: url(<path-to-image>), lightgray 0px 16.849px / 100% 106.13% no-repeat;
    border-radius: 461px;
  background: #D9D9D9;
  }
  .cercle-image {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 0;
  
  }
  
  .cercle-img {
    width: 100%; /* Ajuste la taille de l'image pour remplir le conteneur */
    height: 100%;
    object-fit: cover; /* Redimensionne l'image pour remplir le conteneur */
  }
  .imgsabri {
    width: 461px;
    height: 461px;
    /* border: -142px -21px -143px ; */
  }
  .sabri {
   text-align: center;
  }
  .button {
    display: flex;
    justify-content: center;
    color: #000;
text-align: center;
font-size: 20px;
font-family: Futura;
font-weight: 500;
  }
  
  .btn-contact {
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color:  #D68F07 ;
    border-radius: 25px;
    margin: 50px 0;
   

  }
  .p-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: white;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    cursor: pointer;
    padding: 5px 35px 5px;
    margin: 10px;
    text-decoration: none;
}
  
  .btn-question {
    display: flex;
    flex-direction: row;
    gap: 5%;
  
  }
  .question {
    display: flex;
    flex-direction: row;
    padding: 45px 0px 0px 0px;
    text-decoration: none;
    color: black;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
  }
  .text1 {
    height: 269px;
    width: 583px;
    left: 122px;
    top: 1373px;


  }
  .logo-assurance {
    display: flex;
    justify-content: space-around;
    margin-top: 170px;
  

  }
  /***description**/
  .description2 {

    margin: 150px 0px 0 0;

   
    
  }
  .textsabriimg {
    display: flex;
    flex-direction: row;
  }
  .photo-nom {
    display: flex;
    flex-direction: column;
  }




/**solutions**/
  .solutions {
   
  }

   
  .listcards {
    display: flex;
    gap: 78px;
    row-gap: 24px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 40px;
    justify-content: center;
   
  }
  .cards {
    width: 345px;
    height: 259px;
    flex: wrap;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(180deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%);
  }
  .ellips {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background: linear-gradient(180deg, #8ECAE6 0%, rgba(217, 217, 217, 0.00) 100%);
  }
  .ellips1 {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background: linear-gradient(180deg, #B233DE 0%, rgba(217, 217, 217, 0.00) 100%);
  }
  .ellips2 {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 34px;
    background: linear-gradient(180deg, #21C950 0%, rgba(217, 217, 217, 0.00) 100%);
  }
  .ellips3 {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 34px;
    background: linear-gradient(180deg, #DC7878 0%, rgba(217, 217, 217, 0.00) 100%);
  }
  .ellips4 {
    width: 34px;
    height: 40.022px;
    flex-shrink: 0;
    border-radius: 40.022px;
    background: linear-gradient(180deg, #A37952 0%, rgba(217, 217, 217, 0.00) 100%);
  }
  .vector {
    width: 16px;
    height: 24px;
  }
  .vector1 {
    width: 22px;
    height: 18px;
  }
  .vector2 {
    width: 17.333px;
    height: 21.667px;
    flex-shrink: 0;
  }
  .vector3 {
    width: 21.875px;
    height: 21.875px;
    flex-shrink: 0;
  }
  .vector4 {
    width: 20px;
    height: 22.365px;
    flex-shrink: 0;
  }
  .particuliers {

  }
  .textcentre {
    text-align: center; 
   
  
  }
  /****ou***/
  .ou {
  
  }
  .ou2 {
margin-bottom: 100px;

  }
  .localisation {
    width: auto;
    display: flex;
    flex-direction: row;
  }

  /**contact**/

  .contact {
    margin: 0 122px 0 119px;
  }

  /*** footer ****/

  body {
    
  }
  
  .myForm {
    width: 340px;
    height: 550px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    /* margin: calc(50vh - 275px) 950px; */
    padding: 20px 40px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }
  
  
  label {
    display: block;
    margin-bottom: 15px;
  }
  
  select,
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: color(srgb rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0));
    resize: none;
    /*border-radius: 4px;**/
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
  }
  
  select:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #78788c;
  }
  
  button {
    padding: 8px 12px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: #D68F07;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
  }
  
  button:hover {
    background: #974b0c;
    color: #000;
  }
#lottiecontact {
  position: absolute;
  height: 328px;
  left: 42px;
  top: 2540px;
  width: 506.152px;
  padding-left: 125px;

}
.lottieformulaire {
  display: flex;
  justify-content: space-between;
}